body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}
form{
    width: 320px;
    margin: 90px auto;
    padding: 20px;
    background: #fff;
    border-radius: 6px;
}
h1{
    text-align: center;
    color: blue;
}
.form-group{
    margin-bottom: 14px;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
button{
    width: 100%;
    padding: 8px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.error{
    color: red;
    font-size: 12px;
}